<div class="mt-0">
  <%= form_with model: @page, data: { controller: 'uppy', 'uppy-target': "form" } do |f| %>
    <div class="shadow sm:rounded-md sm:overflow-hidden">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
        <div>
          <h2 class="text-zinc-900 text-lg font-medium mb-2">What does he do?</h2>
          <p class="text-zinc-600 text-base font-normal mb-2">
            It may happen that you have designed a tool organized over several visits with the same traits. When you export the collected data each row will report a single visit, but maybe that's not the output you want.
          </p>
          <p class="text-zinc-600 text-base font-normal mb-4">
            The script takes the file you exported from REDCap and converts it into a new format in which each line corresponds to a single patient / participant and the multiple visits are organized side by side.
            <span class="text-indigo-500">Click the image below to see how data is transformed.</span>
          </p>
          <div class="mb-6" data-controller="modal" data-modal-allow-background-close="true">
            <%= link_to '#', data: { action: 'click->modal#open' } do %>
              <%= image_tag "data_conversion_preview.jpg", class: "rounded-lg drop-shadow-lg my-4 ring-offset-2 ring-2" %>
            <% end %>
            <%= render partial: "layouts/modal", locals: { picture_name: "data_conversion.png" } %>
          </div>

          <h2 class="text-zinc-900 text-lg font-medium mb-2">What do you have to do?</h2>
          <p class="text-zinc-600 text-base font-normal mb-4">
            <div data-controller="modal" data-modal-allow-background-close="true">
              Here the requirements for the file you want to convert. In order for the script to work correctly you need:
              <ul class="list-disc list-inside text-zinc-500">
                <li>Export in CSV format, using tab as line delimiter (<%= link_to "see picture", "#", class: "text-indigo-500", data: { action: 'click->modal#open' } %>)</li>
                <li>The export must have a header (that's the REDCap default)</li>
                <li>first column must be the patient/participant identifier</li>
                <li>second column must be event/visit identifier</li>
              </ul>
              <%= render partial: "layouts/modal", locals: { picture_name: "Redcap_export_panel.jpg" } %>
            </div>
          </p>
        </div>

        <%= render partial: 'previous_file_upload_area', locals: { f: f } %>
        <%# render partial: 'file_upload_area', locals: { f: f } %>



      </div>
      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= f.submit "Load file", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    </div>
  <% end %>

</div>

